## Question 1:In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6

## Ans:
In the above elements      *  is an expression
                       
                       'hello' is a Vaue                        
                       -87.8   is a Value                          
                       -       is an expression                           
                       /       is an expression                           
                       +   	  is an expression                           
                       6       is a Value

##  2. What is the difference between string and variable?

## Ans: 
String is a datatype wheras the variable is the memory location that stores the data.String is usually represented in double quotes("") or else single quotes('').Anything that is enclosed in these quotes represents a string. Variable can contain numbers,alphabets and underscores.It should not contain spaces and the name of the variable cant be started with a number.
Variable can store the value of any data type(Ex:String,list,set,tuple)

Ex for Variable = abc=10, Here abc is a variable which stores the value 10.

In [52]:
#Example for string
a="aish"

In [53]:
type(a)

str

## 3. Describe three different data types.

## Ans:
    Three data types: string,list,tuple

1. String:Set of characters usually enclosed in double quotes("") or else single quotes('').

In [54]:
b="This is my first assignment"

In [55]:
type(b)

str

2. List : Values seperated by commas enclosed in square brackets.Values can be integers,strings,complex numbers etc.Lists  are mutable.

In [56]:
c=[1,2,3,4,"abc",9+8j]

In [57]:
type(c)

list

3. Tuple: Values seperated by commas enclosed in parentheses.Tuples are immutable.

In [58]:
d=(1,2,3,44,55,"abv")

In [59]:
type(d)

tuple

## 4. What is an expression made up of? What do all expressions do?

## Ans:
    An expression is a combination of numbers/values,variables and mathematical operators,which together evaluates another 
    value.

In [60]:
#Example of expression
e=13+12

In [61]:
e

25

 Here 12 &13 are values and + is operator.They together gave the value as 25.

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

## Ans:
    Assignment statements assign a value to the variable.In spam = 10 , value 10 in assigned to spam, and now spam will have value 10.

    Assignment statements assign a value to the variable whereas An Expression gives some value by performing some operations with operators and values.
    Ex: i=24*8 gives 192.

In [62]:
i=24*8

In [63]:
i

192

## 6. After running the following code, what does the variable bacon contain?
## bacon = 22
## bacon + 1

In [64]:
bacon=22

In [65]:
bacon+1

23

In [66]:
bacon

22

The value of the bacon remains same because bacon+1 is not reassigned to bacon again(bacon= bacon + 1).

## 7. What should the values of the following two terms be?
## 'spam' + 'spamspam'
## 'spam' * 3

In [67]:
'spam'+'spamspam'

'spamspamspam'

In [68]:
'spam'*3

'spamspamspam'

Both the expression gives same result 'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

## Ans: 
    eggs is a valid variable name because it contain all alphabets which is allowable. 100 is a invalid variable name because  variable name cannot start with a number.

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

## Ans: 
    Function used to get the integer version of a value:int()
    Function used to get the floating-point number version of a value:float()
    Function used to get the string version of a value:str()

## 10. Why does this expression cause an error? How can you fix it?
## 'I have eaten ' + 99 + ' burritos.

## Ans: 
It causes an error because strings can't be concatinated with integer.In order to fix this issue we have to convert 99 to string.

In [69]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

In [70]:
#This can be done in another way also.I.e, by adding double quotes to 99.
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'